@font-face {
	font-family: OLogo;
	src: url('../fonts/Beech.ttf');
}

body {
    padding-top: 70px; 
}

#logo {
    margin-top: 60px;
	font-family: OLogo;
	font-size: 192px;
}

#about-brief {
	font-size: 22px;
}

#content {
	width: 75%;
}

#socials {
	margin-bottom: 60px;
}

.social {
	display: inline-block;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 50px;
    
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/*
#vk-li:after {
    content: url('../images/VK_logo_small.png');
}

#ok-li:after {
    content: url('../images/OK_logo_small.png');
}

#fb-li:after {
    content: url('../images/FB_logo_small.png');
}
*/

.dropdown-list ul li a
{
    display: inline-block;
    vertical-align: middle;
}

.shadow
{
  	position:relative;       
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow:before, .shadow:after
{
	content: "";
    position: absolute; 
    z-index:-1;
    
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
       -moz-box-shadow: 0 0 20px rgba(0,0,0,0.3);
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
    
    top: 25%;
    bottom: 0;
    left: 10px;
    right: px;
    
    -moz-border-radius: 150px / 10px;
         border-radius: 150px / 10px;
}

.inactive {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

/*
 * Audio player css
 */

ol { padding: 0px; margin: 0px; list-style: decimal-leading-zero inside; color: #ccc; width: 460px; border-top: 1px solid #ccc; font-size: 0.9em; }
ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
ol li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
li.playing { color: #aaa; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
li.playing a { color: #000; }
li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
